* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'roboto', sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #191765;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* toolbar styling */
.header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  max-width: 1156px;
  align-items: center;
  margin-bottom: 48px;
}

.headertitle {
  font-size: 18px;
  font-weight: 500;
}

.dsk-btn {
  display: none;
  width: 100%;
  max-width: 297px;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* section1 styling */

.section1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  align-items: center;
}

.Names {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  color: #7d73fc;
}

.h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #edecff;
  margin-top: 12px;
  padding-bottom: 10px;
}

.paragraph {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 327px;
  line-height: 28px;
  color: #c8c8d4;
  margin-top: 24px;
  padding-bottom: 33px;
  margin-bottom: 27px;
  border-bottom: 2px solid #646369;
}

.skills-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 24px;
  padding-bottom: 4px;
  margin-top: 33px;
  border-bottom: 2px solid #646369;
}

.list1 {
  margin-left: 0;
  padding-right: 31px;
}

.list2 {
  margin-left: 0;
  padding-right: 43px;
}

.list3 {
  margin-left: 0;
  padding-right: 38px;
}

.skills {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 18px;
}

.skills h3 {
  font-size: 12px;
  font-weight: 500;
  color: #9490ff;
}

.socials {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
}

.sociallist {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.btn-work {
  background: none;
  width: 77px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 34px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  color: #a2a3ae;
}

/* section2 styling */

/* work section */
.section2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  padding: 0 24px;
}

.myrecentwork {
  height: 104px;
  text-transform: uppercase;
  margin-top: 84px;
  border-bottom: 2px solid #646369;
}

.deviderdiv2 {
  height: 17px;
  width: 327px;
  margin-top: 10px;
}

.h4 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #9490ff;
}

/* Multi post Stories Section styling */
.placeholderimg1 {
  height: 236px;
  width: 327px;
  margin-bottom: 24px;
  margin-top: 48px;
}

.placeholderimg2 {
  display: none;
}

.multipoststories {
  height: 105px;
  width: 327px;
  margin-top: 24px;
}

.MPS-h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.paragraphmultipoststories {
  height: 204px;
  width: 327px;
  color: #dcdce8;
  font-family: 'inter', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

/* languages ul styling  */
.languagesul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  height: 40px;
  width: 312px;
}

.css {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  border-right: 2px solid #555;
}

.html {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  border-right: 2px solid #555;
}

.bootstrap {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  border-right: 2px solid #555;
}

.ruby {
  width: 37px;
  height: 20px;
  padding-left: 10px;
}

/* button seeproject styling */
.btn2 {
  height: 48px;
  width: 89px;
  padding: 12px;
  margin-top: 24px;
  background: #9490ffef;
  display: flex;
  flex-direction: row;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: #fff;
}

.btn2:hover {
  border: 1px solid rgb(7, 55, 73);
}

/* the footer syling */
.footerparagraph {
  height: 164px;
  width: 327px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.h5 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #9390ff;
}

.parafooter {
  font-family: 'inter', Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  margin-left: 24px;
  margin-top: 24px;
}

/* The form styling */
.formdiv {
  height: 292px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formname {
  height: 48px;
  width: 327px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.formemail {
  height: 48px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.formmessage {
  height: 148px;
  width: 327px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

label {
  display: none;
}

/* button2 styling */
.btn2div {
  display: flex;
  justify-content: center;
}

.seeproject2 {
  width: 89px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: #9390ff;
  white-space: nowrap;
  border: none;
  margin-top: 30px;
  text-transform: capitalize;
}

.seeproject2:hover {
  border: 1px solid skyblue;
}

.rectangleimg {
  height: 1px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3a3837;
  margin-top: 71px;
}

.socials2 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.my-mail {
  height: 29px;
  width: 221px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 27px;
}

.btn-work:first-child {
  display: none;
}

.footerform {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 71px 24px;
  margin-bottom: 25px;
  border-bottom: 2px solid #3a3837;
}

/* media queries */
@media screen and (min-width: 500px) {
  .section1 {
    max-width: 448px;
  }

  .section2 {
    justify-content: center;
    min-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  /* for desktop */
  .section1 {
    max-width: 1156px;
  }

  .btn-work:first-child {
    display: flex;
  }

  .dsk-btn {
    display: flex;
  }

  .nav-btn {
    display: none;
  }

  .skills-list {
    width: 100%;
    max-width: 447px;
    padding: unset;
    margin-top: unset;
    justify-content: unset;
  }

  .list2,
  .list3 {
    margin-left: 30px;
  }

  .skills {
    font-size: 14px;
  }

  .skills h3 {
    font-size: 18px;
    font-weight: 700;
  }

  .names {
    width: 100%;
    max-width: 1156px;
  }

  .h1 {
    font-size: 90px;
    margin-bottom: 24px;
  }

  .h2 {
    font-size: 40px;
  }

  .h4 {
    font-size: 64px;
    font-weight: 700;
  }

  .paragraph {
    width: 100%;
    max-width: 447px;
    margin-top: 88px;
  }

  .socials {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1023px;
  }

  .section2 {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    gap: 88px;
    padding: 114px 24px;
    justify-content: unset;
  }

  .myrecentwork {
    max-width: 1156px;
    width: 100%;
    text-transform: none;
    display: flex;
    align-items: center;
    margin-top: 232px;
  }

  .sct-Placehldrright {
    width: 1156px;
    display: grid;
    grid-template-columns: 684px 472px;
    grid-template-areas: "placeholder carddetails";
    margin: 0 auto;
  }

  .placeholderimg1 {
    display: none;
  }

  .placeholderimg2 {
    display: flex;
    grid-area: placeholder;
  }

  .carddetails {
    display: flex;
    grid-area: carddetails;
    flex-direction: column;
    padding: 0 24px;
  }

  .sct-Placehldrleft {
    width: 1156px;
    display: grid;
    grid-template-columns: 472px 684px;
    grid-template-areas: "carddetails placeholder";
    margin: 0 auto;
  }

  .btn2 {
    width: 106px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    background: #9490ffef;
  }

  .multipoststories {
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  .paragraphmultipoststories {
    height: 140px;
    margin-top: 24px;
    width: 100%;
  }

  .footerparagraph {
    height: 141px;
    width: 684px;
  }

  .h5 {
    height: 56px;
    width: 684px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
  }

  .parafooter {
    height: 61px;
    width: 684px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formdiv {
    height: 210px;
    width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas:
      "formname formemail"
      "formmessage formmessage"
      "formmessage formmessage"
      "formmessage formmessage";
    gap: 20px;
  }

  .formemail {
    grid-area: formemail;
    width: 329px;
    padding-inline-start: 18px;
  }

  .formmessage {
    grid-area: formmessage;
    width: 680px;
    border-radius: 2px;
    margin-top: 0;
    padding-inline-start: 18px;
  }

  .formname {
    grid-area: formname;
    margin-bottom: 0;
    width: 329px;
    padding-inline-start: 18px;
  }

  .seeproject2 {
    height: 48px;
    width: 160px;
    padding: 12px;
    background: #9490ffef;
    margin-top: 90px;
  }

  .socials2 {
    flex-direction: row;
    margin-bottom: 21px;
    height: 40px;
    align-items: unset;
    justify-content: center;
  }
}

/* Javascript classed to be added  */
.header-active {
  height: 852px;
  width: 100%;
  display: flex;
  background-color: #191765;
  position: relative;
  transtion: 1s;
}

.dis-none {
  display: none;
}

.navUl {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  position: absolute;
  width: 327px;
  height: 184px;
  left: 24px;
  top: 92px;
}

.ulLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 327px;
  left: 0;
  top: 64px;
  position: static;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #edecff;
}

.cancel-btn {
  position: absolute;
  right: 32px;
  top: 56px;
  border-radius: 0;
}
